
/* =Global Elements
-------------------------------------------------------------- */
body {
	background-image:url('images/bg.jpg');
	background-position: center;
	min-width: 1030px;
}

body, input, textarea {
    font-size:14px;
    line-height:22px;
}

input{
	color: #000;
}

#top{
	width: 100%;
	height:26px;
	background-color: #000;
	border-top: solid;
	border-top-width: 3px;
	border-top-color: #ffcc00;
}

#navbar{
	width: 100%;
    background-image: url('images/bg.png');
	height: 50px;
	clear: both;
	margin-bottom: 20px;
}

#exit{
	background-image: url('images/exit.gif');
	position:fixed;
	width:65px;
	height:196px;
	margin-top: 35%;
	z-index: 101;
}

#exit:hover{
	background-position-y: 196px;
}

#wrapper{
	border-left: solid 3px;
	border-left-color: #71598c;
	overflow: hidden;
}

p, ul, ol, dd, pre {
    margin-bottom:22px;
}

a{
	text-decoration: none;
}

pre, code {
	font:14px Monaco, monospace;
	line-height:22px;
}
blockquote {
    color:#fff;
    font-style:italic;
}
table {
    border:none;
    font-size:13px;
    line-height:18px;
    margin:0 0 22px 0;
    text-align:left;
}
caption {
    text-align:left;
}
/*
tr {
    border-bottom:1px solid #ccc;
}
th, td {
    padding: .7em 1.25em;
}
*/
hr {
    background-color:#ccc;
    border:0;
    color:#ccc;
    height:1px;
    margin-bottom:22px;
}
a:link {
    color:#FFF;
}
a:visited {
    color: #FFF;
}
a:active,
a:hover {
    color: #ff8a33;
}


/* =Header
-------------------------------------------------------------- */

#header {
    z-index:2;
    width:1030px;
    margin: 0 auto;
    clear: both;
}
#branding {
    padding:44px 0 35px 0;
    height: 150px;
}
#blog-title {
	font-family: 'Arvo', sans-serif;
    font-size:55px;
    font-weight:bold;
    line-height:50px;
    width:550px;
    height:120px;
    float: left;
    text-shadow: 5px 5px 6px rgba(0,0,0,.5);
}
#logo{
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 30px;
    width:620px;
    height: 150px;
    float: left;
}
#blog-title a {
    color:#FFF;
    text-decoration:none;
}
#blog-title a:active,
#blog-title a:hover {
    color: #ff8a33;
}
#blog-description {
    color:#FFF;
    font-size:13px;
    font-style:italic;
}
#dome{
	background-image: url('images/dome.png');
	width:230px;
	height:61px;
	float: right;
	margin-top:25px;
}

/* =Menu
-------------------------------------------------------------- */

.skip-link {
    display:none;
}
#access {
    height:37px;
    overflow:visible;
    z-index:100;
    clear: both;
    font-weight: lighter;
    padding-top: 20px;
    margin: 0px auto;
    width:960px;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

#access ul{
	list-style: none;
}

#access li{
	float:left;
	margin-left: 28px;
	margin-right: 29px;
	margin-top:-6px;
}

#access a, #access a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	font-family: 'Arvo', sans-serif;
	color:	#fff;
	font-size: 18px;
	text-decoration: none;
}
#access a:hover{
	color: #ff8a33;
}


/* =Content
-------------------------------------------------------------- */

#main {
    clear:both;
    padding:5px 0 22px 0;
    width:1030px;
}
#container{
	width:1030px;
}
#page_thumb{
	width:614px;
	margin: 0 auto;
	text-align: center;
    border: 5px solid #F5714E;
	-moz-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	box-shadow: 0px 7px 12px rgba(0,0,0,.5);
}
.entry-content .wp-post-image{
	padding: 0;
	float: left;
    border: 5px solid #F5714E;
    margin-left: 0;
    margin-right: 20px;
	-moz-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	box-shadow: 0px 7px 12px rgba(0,0,0,.5);
}
#page_content{
	width:960px;
	margin: auto;
    padding: 20px 40px;
    background-image: url('images/bg.png');
    clear: both;
}
#page_content h1{
	color:#f5714e;
	font-size: 60px;
	font-weight: bold;
	margin-top: 20px
}
#page_content h2{
	color:#f5714e;
	font-size: 32px;
	font-weight: lighter;
	line-height: normal;
}
#content{
	width:960px;
	margin: auto;
    background-image: url('images/bg.png');
    padding-top: 8px;
    padding-bottom: 100px;
}
#content-butt{
	width:960px;
	margin: auto;
    background-image: url('images/bg.png');
    height:100px;
    margin-top:-21px;
}
#slider{
	width:960px;
	height:440px;
/*	background-color:#666;*/
	margin: auto;
	margin-bottom: 30px;
	background-position-y: center;
}
.slide_title{
	font: 55px 'Oswald', sans-serif;
	font-weight: 800;
	color: #712c91;
}
.slide_descr p{
	font-size: 30px;
	color: #b47cb6;
	margin-left: 35px;
}

#col1{
	background-color: #573d66;
	width:270px;
	float: left;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #896c95;
	border-top: 0;
}
#col_head1{
	width:312px;
	height: 85px;
	float: left;
	margin-left: 0px;
	background-color: #f5714e;
	font-size: 18px;
	text-align: center;
}
#col_head1 h1{
	font-size: 28px;
	margin-top: 30px;
}
#col2{
	background-color: #573d66;
	width:270px;
	float: left;
	margin-left: 32px;
	padding: 10px;
	border: 1px solid #896c95;
	border-top: 0;
}
#col2 ul{
	list-style: none;
	font-size: 21px;
	font-family: 'arvo', sans-serif;
}
#col2 a{
	text-decoration: none;
	clear: both;
	float: left;
}
.nav_desc{
	float: left;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	margin: 10px 7px 10px 7px;
	clear: both;
	width: 256px;
}
#col_head2{
	width:312px;
	height: 85px;
	float: left;
	margin-left: 12px;
	background-color: #f5714e;
	text-align: center;
}
#col_head2 h1{
	font-size: 28px;
	margin-top: 30px;
}
#col3{
	background-color: #573d66;
	width:270px;
	float: right;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #896c95;
	border-top: 0;
}
#col_head3{
	width:312px;
	height: 85px;
	float: right;
	margin-right: 0px;
	background-color: #f5714e;
	text-align: center;
}
#col_head3 h1{
	font-size: 28px;
	margin-top: 30px;
}
#featured{
	clear: both;
	background-image: url('images/banner.png');
	height:396px;
	width: 1030px;
    margin-top:-21px;
}
#featured-post{
	width:550px;
	margin-left: 68px;
	margin-top: 80px;
	float:left;
}
#featured-thumb{
	width:300px;
	height:200px;
	background-color: #666;
	float:left;
	margin-top: 80px;
	margin-left: 40px;
}

#gtf_featured{
	float: left;
}

#backtoGTF{
	padding:5px;
	background-color: #8b6f96;
	float: left;
	margin-top: 8px;
	font-family: 'arvo';
	font-size: 16px;
	vertical-align: middle;
	color: #4c2f5b;
}

#backtoGTF span{
	font-family: Helvetica, sans-serif;
	margin-left: -12px;
}

#backarrow{
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-right: 24px solid #8b6f96;
	float: left;
}

#backtoGTF:hover{
	color: #fff;
	text-shadow: 0px 3px 4px rgba(0,0,0,.8);
}

#page_content .more_butt{
	border: 2px solid #6b4d77;
}

.more_butt{
	padding: 5px 10px;
	background-color: #4c2f5b;
	float: left;
	font-family: Helvetica;
	margin-bottom: 22px;
	margin-top: -11px;
	font-size: 18px;
	margin-left: 7px;
}

.more_butt:hover{
	background-color: #6b4d77;
}

.more_butt a{
	text-decoration: none;
}

.more_butt a:hover{
	color: #FFF;
}

#more-topics{
	float: left
	width: 960px;
	margin: 68px;
	clear: both;
	font-family: 'Arvo', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: #e6d6ed;
	padding-top: 20px;
}
#more-topics a{
	text-decoration: none;
}
#more-topics span{
	float: left;
}
#more-topics ul{
	list-style: none;
	font-family: 'Arvo', sans-serif;
	font-size: 24px;
	color: #391a46;
	font-weight: lighter;
}
#more-topics li{
	float: left;
	margin-left: 40px;
}
.page-title {
    font-size:13px;
    line-height:normal;
    padding:0 0 44px 0;
}
.attachment .page-title {
    font-style:italic;
}
.page-title a {
    color:#fff;
    text-decoration:none;
}
.page-title a:active,
.page-title a:hover {
    color: #ff8a33;
}
.page-title span {
    font-style:italic;
}
.page-title .meta-nav {
    font-style:normal;
}
.hentry {
    padding:0 0 22px 0;
}
#page_content .hentry {
    padding:0;
    width: 680px;
    float: left;
}
.single .hentry {
    padding:0;
    width: 680px;
    float: left;
}
.home #content .sticky {
    border:1px solid #ccc;
    margin:0 0 66px 0;
    padding:22px 20px 0 20px;
}
.entry-title {
    font-family:'Arvo',sans-serif;
    font-size:26px;
    line-height:normal;
    padding:0 0 7px 0;
}
.entry-title a {
    color:#FFF;
    text-decoration:none;
}
.entry-title a:active,
.entry-title a:hover {
    color: #ff8a33;
}

#featured .entry-title{
	font-weight: lighter;
}

#featured .entry-title a{
	font-weight: bold
}

#featured .more_butt{
	margin-left: 0;
}

.entry-meta {
	color:#8b6f96;
    font-size:13px;
    font-family:'arvo';
    line-height:18px;
	font-weight: lighter;
}
.entry-meta .author {
}
.entry-meta .n {
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-meta a {
    color:#FFF;
    text-decoration:none;
}
.entry-meta a:active,
.entry-meta a:hover {
    color: #ff8a33;
}
.entry-meta abbr {
    border:none;
    cursor:text;
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-content {
	color: #FFF;
    padding:22px 0 0 0;
    float: left;
}
#featured .entry-content{
	color:#503759;
}
.entry-content h1,
.entry-content h2 {
    font-size:19px;
    font-weight:bold;
}
.entry-content h3 {
    font-size:17px;
}
.entry-content h4 {
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.entry-content table {
    margin-left:1px;
}
.entry-content embed {
    margin:0 0 22px 0;
}
.entry-utility {
	clear:both;
    color:#FFF;
    font-size:13px;
    line-height:18px;
    margin:0 0 44px 0;
}
.entry-utility a {
    color:#FFF;
    font-style:italic;
    text-decoration:none;
}
.entry-utility a:active,
.entry-utility a:hover {
    color: #ff8a33;
}
.edit-link {
	clear:both;
	display:block;
	font-family: 'arvo', serif;
}
.page-link {
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    margin:0 0 22px 0;
    padding:22px 0 0 0;
    word-spacing:0.5em;
}
.page-link a {
    border:1px solid #ccc;
    color:#fff;
    font-weight:normal;
    padding:0.5em 0.75em;
    text-decoration:none;
}
.page-link a:active,
.page-link a:hover {
    color: #ff8a33;
}
ul#links-page,
ul#archives-page {
    list-style:none;
    margin-left:0;
    overflow:hidden;
}
li.content-column {
    float:left;
    margin-right:20px;
    width:45%;
}
.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
    padding:0 0 22px 0;
	}
.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
	}
.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0;
	text-align: center;
	list-style: none;
	padding: 0;
	}
.gallery .gallery-item img, .gallery .gallery-item img.thumbnail {
	max-width: 89%;
	height: auto;
	padding: 1%;
	margin: 0 auto;
	border: none !important;
	}
.gallery-caption {
	margin-left: 0;
	}
.wp-caption-text,
.gallery-caption {
    color:#fff;
    font-size:13px;
    line-height:18px;
}
#author-info {
    margin:0 0 44px 0;
    overflow:hidden;
}
#author-info .avatar {
    float:left;
    margin:.3em 1em 0 0;
}


/* =Attachments
-------------------------------------------------------------- */

.attachment-jpeg #container,
.attachment-png #container {
    width:100%;
}
.attachment-jpeg #content,
.attachment-png #content {
    width:930px;
}
.attachment-jpeg #comments,
.attachment-png #comments {
    width:540px;
    overflow:hidden;
}
.attachment-jpeg .main-aside,
.attachment-png .main-aside {
    display:none;    
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color:#fff;
    font-size:13px;
    line-height:18px;
    margin:0px 0 22px 0;
    overflow:hidden;
}
.navigation a {
    color:#fff;
    font-style:italic;
    text-decoration:none;
}
.navigation a:active,
.navigation a:hover {
    color: #ff8a33;
}
.navigation .meta-nav {
    font-style:normal;
}
.nav-previous {
	float: left;
	width:50%;
}
.nav-next {
	float: right;
	width:50%;
	text-align:right;
}
#nav-above,#nav-below {
	width: 100%;
}
#nav-above {
    display:none;
}
.paged #nav-above {
    display:block;
    padding:0 0 44px 0;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
	clear:both;
    padding:22px 0 0 0;
}
#comments,
#comments input,
#comments textarea {
    font-size:13px;
    line-height:18px;
}
#comments code {
    font-size:12px;
    line-height:18px;
}
#comments h3 {
    font-size:15px;
    font-weight:bold;
    line-height:22px;
    padding:0 0 18px 0;
}
#comments-list {
    padding:0 0 18px 0;
}
#comments-list ol,
#comments-list ul {
    list-style:none;
    margin:0;
}
#comments-list ol {
    border:1px solid #ccc;
    border-bottom:none;
    margin:0 0 18px 0;
}
#comments-list li {
    background:#fafafa;
    border-bottom:1px solid #ccc;
    padding:18px 1.5em 0 1.5em;
    position:relative;
}
#comments-list li.alt {
    background:#fff;
}
#comments-list li.bypostauthor {
    background:#FFFFCC;
}
#comments-list ul li {
    border:1px solid #ccc;
    margin:0 0 18px 0;
}
#comments-list li .avatar {
    position:absolute;
    top:22px;
    left:1.5em;
    width:36px;
    height:36px;
}
#comments-list .comment-author {
    font-weight:bold;
    padding:9px 0 0 46px;
}
#comments-list .comment-meta {
    font-size:11px;
    padding:0 0 9px 46px;
}
#comments-list .comment-meta a {
    font-style:italic;
    text-decoration:none;
}
#comments-list .comment-meta a:active,
#comments-list .comment-meta a:hover {
}
.comment-reply-link {
    font-size:11px;
    padding:0 0 18px 0;
    text-align:right;
}
.comment-reply-link a {
    font-style:italic;
    text-decoration:none;
}
.comment-reply-link a:active,
.comment-reply-link a:hover {
}
.comment-navigation {
    font-weight:bold;
    padding:0 0 18px 0;
    margin-right:0.5em;
}
.comment-navigation a {
    border:1px solid #ccc;
    font-weight:normal;
    padding:0.5em 0.75em;
    text-decoration:none;
}
.comment-navigation a:active,
.comment-navigation a:hover {
}
.comment-navigation a,
.comment-navigation span {
    margin-right:0.5em;
}
#trackbacks-list .comment-content {
    position:absolute;
    left:-10000px;
}
#respond {
    background:#fff;
    margin-bottom:22px;
    overflow:hidden;
    padding:18px 0 0 0;
    position:relative;
}
#comments-list #respond {
    border-bottom:1px solid #ccc;
    margin:0 0 18px 0;
    padding:18px 1.5em;
}
#comments-list ul #respond {
    border:1px solid #ccc;
    margin:0;
}
#cancel-comment-reply {
    font-size:11px;
    position:absolute;
    top:18px;
    right:1.5em;
}
#cancel-comment-reply a {
}
#respond .required {
    color:#ff8a33;
    font-weight:bold;
}
.form-section label {
    font-size:11px;
}
.form-section input {
    margin:0 0 18px 0;
    width:98%;
}
.form-section textarea {
    width:99%;
}
#form-allowed-tags p {
    font-size:11px;
    margin:0;    
}
#form-allowed-tags span {
    font-style:italic;
}
#form-allowed-tags code {
    font-size:11px;
    line-height:normal;
}
.form-submit {
    padding:18px 0 0 0;
    text-align:right;
}
.subscribe-to-comments {
    float:left;
    font-size:11px;
    margin:0;
    padding:18px 0 0 0;
}
.solo-subscribe-to-comments {
    font-size:11px;
    padding:18px 0 0 0;
}
.comment_license {
    clear:both;
    font-size:11px;
    margin:0;
    padding:18px 0 0 0;
}
span.wpcf7-list-item-label{
	margin-left: -0.5em;
}

/* =Asides, Sidebars & Widget-Ready Areas
-------------------------------------------------------------- */

.sb_header, .sb_header_link{
	width:210px;
	height:45px;
	background-color: #f5714e;
	float: right;
	text-align: center;
	clear: right;
	margin-top: 28px;
}

.sb_header div, .sb_header_link div{
	font-family: 'arvo';
	font-size: 24px;
	margin-top: 12px;
	font-weight: lighter;
}

.sb_header_link div a{
	text-decoration: none;
}

.sb_header_link:hover{
	background-color: #ffbb58;
}

.sidebar {
    padding:18px 10px 0 10px;
    margin-bottom:22px;
	background-color: #573d66;
	border: 1px solid #896c95;
	border-top: none;
	width:180px;
	float: right;
	margin-right: 4px;
	clear: right;
}

.staff_descr{
	color: #ab88b9;
	margin-top: -5px;
	margin-bottom: 10px;
}

#staff_descr p{
	color: #ab88b9;
	margin-top: -10px;
	margin-bottom: 30px;
	font-family: 'arvo', sans-serif;
	font-size: 18px;
}
#staff_bio{
	width: 320px;
	float: left;
	text-align: justify;
}

#staff_inf{
	float: right;
	width: 310px;
	margin-top: 20px;
	font-family: 'arvo', sans-serif;
	font-size: 18px;
}

.item{
	float: left;
	float: left;
}

span.descr {
	color: #ab88b9;
	margin-right: 7px;
}

#staff_pic{
	width: 300px;
	height: 300px;
    border: 5px solid #F5714E;
	-moz-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	float: right;
}

.sidebar h3{
	font-family: 'arvo';
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.sidebar p{
	font-size: 16px;
	line-height: 24px;
}

.sidebar ul {
	list-style: none;
	font-family: 'arvo';
	font-weight: lighter;
	margin-left: 0px;
}

.sidebar li{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 18px;
	width: 180px;
}

.sidebar a{
	text-decoration: none;
}

.sidebar li.large{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 24px;
}

.aside,
.aside input {
    font-size:13px;
    line-height:18px;
    margin-bottom:6px;
    width:150px;
}
.aside p,
.aside ul,
.aside ol,
.aside dd,
.aside pre {
    margin-bottom:18px;
}
.aside pre,
.aside code {
    font-size:12px;
    line-height:18px;
}
.aside .current_page_item a {
    color: #ff8a33;
}
.aside .current_page_item .page_item a {
    color:#fff;
}
.aside .current_page_item .page_item a:hover,
.aside .current_page_item .page_item a:active {
    color: #ff8a33;
}
.aside {
    color:#FFF;
}
.aside a {
    color:#FFF;
}
.aside a:active,
.aside a:hover {
    color: #ff8a33;
}
.aside h3 {
    font-size:15px;
    line-height:22px;
}
.aside h3 a {
    text-decoration:none;
}
.aside caption {
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.aside ul {
    list-style:none;
    margin-left:0;
    font-family: 'arvo';
}
.aside ul ul {
    list-style:disc;
    margin:0 0 22px 20px;
}
.aside ul ul li {
    padding:1px 0;
}
.aside ul ul ul {
    margin-bottom:0;
}
.aside form,
.aside table {
    margin-bottom:22px;
}
.aside table {
    border:none;
}
.aside thead {
    border:1px solid #ccc;
}
.aside tbody {
    border:1px solid #ccc;
}
.aside th, .aside td {
    border-right:1px solid #ccc;
    padding:.25em .8em;
}
.aside tfoot tr {
    border:none;
}
.aside tfoot td {
    border-color:transparent;
}
.widget_tag_cloud {
    margin:0 0 22px 0;
}
.aside #searchsubmit {
	display: none;	
}
/*
    Main Asides
*/
.main-aside ul {
    padding:0 20px;
}
.main-aside h3 {
}
.main-aside ul ul {
    padding:0;
}
#primary {
    padding:18px 0 0 0;
    margin-bottom:22px;
	background-color: #573d66;
	border: 1px solid #896c95;
	width:200px;
}
/*
    Content Asides
*/
#content .aside {
    border:1px solid #ccc;
    margin:0 0 22px 0;
    padding:18px 0 0 0;
}
#content .aside ul {
    padding:0 20px;
}
#content .aside h3 {
    font-weight:normal;
    font-size:17px;
    font-style:italic;
    padding:0 0 7px 0;
    text-transform:none;
}
#content .aside ul ul {
    padding:0;
}
/*
    Footer Asides
*/
#subsidiary {
    padding:33px 0 0 0;    
}

/*
	Event Calendar
*/


.ec3_popup table{
margin-bottom: 0px;
}
.ec3_list{
	list-style: none;
	margin-bottom: 25px;
	color:#8b6f96 !important;
    font-size:13px;
    font-family:'arvo';
    line-height:18px;
	font-weight: lighter;
}

.ec3_events ul{
	list-style: none;
	margin-left: 0;
}

.ec3_events li{
}

.ec3_events li a{
    font-family:'Arvo',sans-serif;
    font-size:21px;
    line-height:normal;
    margin-left: 0;
}

#wp-calendar{
	width: 100% !important;
}

#wp-calendar table td, #wp-calendar table td.pad:hover, #wp-calendar table.nav tr td{
	padding: 0px !important;
	border: 0px !important;
	background-color: transparent;
}
#wp-calendar table td:hover{
	padding: 0px !important;
	border: 0 !important;
	background-color: #6b4d77;
}
/* =Footer
-------------------------------------------------------------- */

#fancybox{
	display: none;
	opacity:0.95;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-top: -295px;
	margin-left: -200px;
	width: 400px;
	background-color: #2B2B2B;
	padding: 25px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 7px 12px rgba(0,0,0,.5);
	box-shadow: 0px 7px 12px rgba(0,0,0,.5);
}

#fancyexit{
	width: 29px;
	height: 29px;
	background-image: url('images/x.png');
	position: absolute;
	margin-left: 406px;
	margin-top: -31px;
}

#showFancy{
	background-color: #F5714E;
	width: 305px;
	font-size: 30px;
	padding: 15px;
	font-family: 'Arvo', sans-serif;
	margin-bottom: 20px;
	margin-top: -35px;
	margin-left: 20px;
	text-shadow: none;
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.3);
	box-shadow: 0px 2px 3px rgba(0,0,0,.3);
}

#showFancy:hover{	
	width:318px;
	height: 23px;
	margin-bottom: 19px;
	margin-left: 14px;
	font-size: 31px;
	-moz-box-shadow: 0px 4px 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 4px 5px rgba(0,0,0,.3);
	box-shadow: 0px 4px 5px rgba(0,0,0,.3);
}

#showFancy a:hover{
	color: #fff;
}

span.wpcf7-not-valid-tip{
	color: red;
}

#footwrap{
	width: 100%;
	height: 240px;
    background-image: url('images/bg.png');
    margin-top: 20px;
    padding-top: 20px;
}

#footer {
    color: #FFF;
	width:960px;
	margin: auto;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

#footer a {
	text-decoration: none;
}

#services, #events, #get-involved, #resources{
	float: left;
	margin-left: 30px;
	font-size: 16px;
}

#services{
	width: 154px;
}

#events {
	width: 73px;
}

#get-involved {
	width:142px;
}

#resources
{
	width: 101px;
}

#footer ul{
	list-style: none;
	margin-left: 0px;
}

#footer li{
	font-size: 16px;
}

#find-us{
	float: left;
	width:150px;
}

#find-us p{
	font-size: 16px;
}

#house {
	background-image: url('images/house.png');
	width:201px;
	height: 175px;
	float: left;
}

#flickr{
	width: 70px;
	height: 70px;
	background-image: url('images/flickr.png');
	float: left;
	margin-left: 30px;
}

#facebook{
	width: 70px;
	height: 70px;
	background-image: url('images/facebook.png');
	float: left;
	margin-left: 30px;
}

#twitter{
	width: 70px;
	height: 70px;
	background-image: url('images/twitter.png');
	float: left;
	margin-left: 30px;
}

#flickr:hover{
	background-position-y: 70px;
}

#facebook:hover{
	background-position-y: 70px;
}

#twitter:hover{
	background-position-y: 70px;
}

#soc_med{
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

#disabilities {
	width:960px;
	float: left;
	font-size: 12px;
	font-family: 'arvo';
	line-height: 16px;
	height: 60px;
	margin-top: 15px;
}

/* =PageNavi
-------------------------------------------------------------- */

/* Using !important to override PageNavi CSS */

.wp-pagenavi {
    margin:0 0 0 -.5em;
    padding:0.5em 0;    
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span {
    border:1px solid #ccc !important;
    color:#fff!important;
    font-style:normal;
    margin:0 .375em !important;
    padding:0.5em 0.25em !important;
}
.wp-pagenavi a:visited {
    border:1px solid #ccc !important;
    color:#fff !important;
}
.wp-pagenavi a:hover {
    border:1px solid #ccc !important;
    color:#ff8a33 !important;
}
.wp-pagenavi a:active {
    border:1px solid #ccc !important;
    color:#ff8a33 !important;
}
.wp-pagenavi span.pages {
    border:none !important;
    color:#fff !important;
    margin:0 !important;
    padding:0 !important;
}
.wp-pagenavi span.current {
    border:none !important;
    color:#fff !important;
    font-weight:normal !important;
    margin:0 !important;
    padding:0 !important;
}
.wp-pagenavi span.extend {
    background-color:#FFFFFF;
    border:1px solid #000000;
    color:#000000;
    margin:2px;
    padding:2px 4px;
}
